.container {
}
/*.brendPicture {
  margin: 5px;
  height: 90px;
  width: 20px;
}*/

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-slider {
  margin: 24px !important;
}
.slick-slide {
  width: 19%;
  margin-left: 0px;
}

.arrow1 {
  width: 20px;
  height: 50px;
}
.slick-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.slick-list,
.slick-slider,
.slick-track {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-slider {
  margin: 22px !important;
}
@media (max-width: 931px) {
  .brendPicture {
    margin: 0px;
    height: 90px;
    width: 270px;
    align-self: center;
text-align: center; }
}
