.underline-ptt {
  display: flex;
  height: 3px;
  width: 50px;
  background-color: #fbc106;
}

.title-container {
  display: flex;
  flex-direction: column;

}
.subtitle {
  display: flex;
  margin-bottom: 2px;
  color: #010207;
  font-family: "Work Sans", "Regular";
  font-size: 25px;
}

@media (max-width: 995px) {
  .title-container {
    align-items: center;
  }
}
