.signInContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  border: 2px solid #e5e5e5;
  height: 600px;
  width: 400px;
  margin:3%;
}
.topTitle {
  font-family: 'Nunito-Sans';
  font-size: 18px;
  color: #666;
  align-items: flex-start;
  flex-direction: column;
  background-color: #EEE;
width: 100%;
padding: 3%;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom: #E5E5E5;}
.SignInBody{
  display: flex;
  flex-direction: column;
}
.osa{
  display: flex;
  justify-content: center;
}
.logo3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  height: 25%;
  width: 25%;
}
.formOf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
  padding: 2%;
  width: 80%;
  font-family: 'Nunito-Sans';
  font-size: 18px;
}
.email{
padding: 2%;
background: #eee;
border: 1px solid grey;
}

.bottomPassword{
margin-left: 12%;
}
.forgotPas{
  font-family: 'Nunito-Sans';
  font-weight: 'Regular';
  font-size:14px;
  color: #666;
  margin-left: 2%;
}
.loginButtonIcon{
  margin-right: 10px;
}
.signInButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7px 0;
  width: 76%;
  margin-top: 5%;
  margin-left: 12%;
  justify-content: center;
  background-color: #fbc106;
}
.loginButtonIcon{
  width: 5%;
  height: 5%;
}
.buttonText{
  font-size: 16px;
  font-weight: bold;
  color: black;
}
.afterButtonText{
  display: flex;
  flex-direction: row;
  margin-left: 25%;
  font-family: 'Nunito-Sans';
  font-size: 14px;
  color: #666;
  margin-top: 5%;
}
.here{
  margin-left: 1%;
  color: #fbc106;
}
