.titleContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  .title {
  display: flex;
  margin-top: 57px;
  margin-bottom: 8px;
  color: #010207;
  font-family: 'Work Sans', 'Regular';
  font-size: 38px;
}
.line {
  display: flex;
  margin-bottom: 56px;
  height: 1.5px;
  width: 100px;
  background-color: #fbc106;
}
