.TopNavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #010207;
  color: #fff;
  font-family: 'Nunito sans';
  font-weight: lighter;
  font-size: 15px;
  padding: 2px 6%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
.bundleNavBar {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 0px;
  margin-right: 2%;
  padding-right: 44px;
}
.phone {
  display: flex;
  align-items: center;
}
.login {
  display: flex;
  align-content: center;
  margin: 5px;
  padding: 0px 5% 0px 0px;
}
.register {
  display: flex;
  align-content: center;
  margin: 5px;
  padding: 0px 5% 0px 0px;
}
.cart {
  display: flex;
  align-content: center;
  margin: 5px;
}
.phoneIcon {
  margin-right: 10px;
  height: 20px;
}
.loginIcon {
  margin-right: 10px;
  height: 20px;
}
.registerIcon {
  margin-right: 10px;
  height: 20px;
}
.cartIcon {
  margin-right: 10px;
  height: 20px;
}
.phoneCall {
  display: flex;
}
.phone1 {
  display: flex;
  padding-left: 27%;
  margin-right: -15px;
}
@media (min-width: 985px) {
  .phoneCall {
    display: none;
  }
}
@media (max-width: 985px) {
  .phone1 {
    display: none;
  }
}

@media (max-width: 985px) and (min-width: 767px) {
  .TopNavBar {
    padding-left: 1.5%;
  }
}

@media (max-width: 767px) and (min-width: 522px) {
  .top-navbar-hide-mobile {
    display: none;
  }
  .TopNavBar {
    padding-left: 73px;
  }
  .bundleNavBar {
    padding-right: 40px;
  }
}

@media (max-width: 522px) and (min-width: 449px) {
  .top-navbar-hide-mobile {
    display: none;
  }
  .TopNavBar {
    padding-left: 3%;
  }
  .bundleNavBar {
    padding: 0;
    margin-right: 1%;
  }
}

@media (max-width: 449px) {
  .TopNavBar {
    padding-left: 2%;
    padding-right: 2%;
  }
  .bundleNavBar {
    padding: 0;
    margin-right: 1%;
  }
  .top-navbar-hide-mobile {
    display: none;
  }
}
